@import url("https://fonts.googleapis.com/css?family=Mali");

body {
  font-family: "Mali", cursive;
  background-image: url("https://i.pinimg.com/236x/84/b1/6c/84b16c24cb8f7e8ff94518b499d970b9.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #73c8c7;
}
.word {
  cursor: pointer;
}

.word:hover {
    background-color: #cccccc;
    transition: all 0.3s ease;
}

.forms {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.forms button {
  display: block;
  margin-top: 5px;
}

.forms textarea {
  resize: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}
li {
  padding: 10px;
}

@media screen and (min-width: 640px) {
  h1,
  h2,
  h3 {
    text-align: center;
  }
  form > h1,
  h2,
  h3 {
    text-align: initial;
  }
  #addForm {
    width: 100%;
  }

  .columns {
    flex-direction: column;
  }
  .column {
    width: 80%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
  }

  section h2 {
    text-align: center;
  }
  ul li {
    padding: 5px 10px;
    border: 1px solid #969696;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff;
  }
}
