.forms {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.forms button {
  display: block;
  margin-top: 5px;
}

.forms textarea {
  resize: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

ul li {
  padding: 10px;
}
